{% extends 'base.html' %}

{% block title %}Acerca de{% endblock %}

{% block header %}
<header class="masthead" style="background-image: url('http://i1.mendozapost.com/files/image/8/8281/54c12d1d94d50_1420_!.jpg?s=1d329078f5303eb981087d27558e2ec1&d=1431675778')">
{% endblock %}

{% block site-heading %}
    <h1>Acerca de</h1>
{% endblock %}

{% block content %}

<div>
    <p>Mi nombre es Antonio Ortega. Vivo en Córdoba, Argentina, y éste es un blog de prueba.</p><hr>
</div>

<!--</html>-->
{% endblock %}